<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure</title>
    <link rel="stylesheet" href="pageStyle.css">
    <script>
        var today = new Date();
        var datestring = today.getDate()  + "/" + (today.getMonth()+1) + "/" + today.getFullYear();
        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost:3000/expenses";
        var apartment = `<%= apartment %>`
        var id = `<%= id %>`
        var secret = `<%= secret %>`
        var total = 0
        var expenses = []
        var month = new Date().getMonth()+1;
        month = (month > 9) ? ('' + month) : ('0' + month);
        var year = new Date().getFullYear();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                expenses = JSON.parse(this.responseText);
                document.getElementById("year").value=year;
                document.getElementById("month").value=month;
                populateTable(expenses, year, month);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader('apartment', apartment)
        xmlhttp.setRequestHeader('Authorization',secret)
        xmlhttp.send();

        function populateTable(expenses, year, month) {
            total = 0;
            var expense_out = ""; 
            var e_count = 1;      
            var water_out = "";     
            var w_count = 1;
            for (var i = 0; i < expenses.length; i++) {
                if(!expenses[i].date.includes(year + "-" + month)){
                    continue;
                }
                if(expenses[i].type != 'waterBookings') {
                    expense_out += "<tr>";
                    expense_out += '<td>' + e_count++ + '</td>';
                    expense_out += '<td>' + expenses[i].type + '</td>';
                    expense_out += '<td>' + expenses[i].date + '</td>';
                    if(expenses[i].type == 'corpusFunds') {
                        expense_out += '<td> N.A. </td>';
                    } else {
                        expense_out += '<td>' + expenses[i].paidBy + '</td>';
                    }
                    expense_out += '<td>' + expenses[i].amount + '</td>';
                    if(expenses[i].paidByID == id){
                        expense_out += '<td> You have already paid your share: ' + expenses[i].individualAmt + '</td>';
                    } else {
                        expense_out += '<td>' + expenses[i].individualAmt + '</td>';
                        total += expenses[i].individualAmt;
                    }
                    if(expenses[i].paidByID == id){
                        expense_out += '<td> N.A. </td>';  
                    } else {
                        if(expenses[i].type == "corpusFunds"){
                            expense_out += '<td> Contact Admin </td>';  
                        } else {
                            expense_out += '<td>' + expenses[i].contact + '</td>'; 
                        } 
                    }
                    expense_out += '<td>' + expenses[i].description + '</td>';
                    expense_out += "</tr>";
                } else {
                    water_out += "<tr>";
                    water_out += '<td>' + w_count++ + '</td>';
                    water_out += '<td>' + expenses[i].date + '</td>';
                    water_out += '<td>' + expenses[i].paidBy + '</td>';
                    water_out += '<td>' + expenses[i].waterQty + '</td>';
                    water_out += '<td>' + expenses[i].amount + '</td>';                    
                    if(expenses[i].readings && expenses[i].readings[id]) {
                        water_out += '<td>' + expenses[i].readings[id].reading + '</td>';
                        if(expenses[i].paidByID == id){
                            water_out += '<td> You have already paid your share: ' + expenses[i].readings[id].amount + '</td>';
                        } else {
                            water_out += '<td>' + expenses[i].readings[id].amount + '</td>';
                            total += expenses[i].readings[id].amount;
                        }
                    } else {
                        water_out += '<td> Water Reading Not Completed </td>';
                        water_out += '<td> Water Reading Not Completed </td>';
                    }       
                    if(expenses[i].paidByID == id){
                        water_out += '<td> N.A. </td>';  
                    } else {
                        water_out += '<td>' + expenses[i].contact + '</td>';  
                    }
                    water_out += '<td>' + expenses[i].description + '</td>';
                    water_out += "</tr>"
                }            
            }            
            
            document.getElementById("expenditure_tbody").innerHTML = expense_out;       
            document.getElementById("water_tbody").innerHTML = water_out;
            document.getElementById("date_now").innerHTML = datestring;
            document.getElementById("total_amount").innerHTML = total;
        }
        
        function monthChangeListener(){
            month = document.getElementById("month").value;
            populateTable(expenses, year, month);
        }
        function yearChangeListener(){
            year = document.getElementById("year").value;
            populateTable(expenses, year, month);
        }
        /* function filterData(){
            console.log(year+"-"+month);
            populateTable(expenses, year, month);
        } */
    </script>
</head>
<body>
    <div class="mainGrid">
        <header>
            <div class="logo">
                AMPLify.expenditure
            </div>
            <nav>
                <ul>
                    <% if(admin){ %> <li><a href="/new_expense">Expenses</a></li> <% } %>
                    <% if(admin){ %> <li><a href="/water_reading">Water Reading</a></li> <% } %>
                    <li><a href="/">Expenditure</a></li>
                    <% if(admin){ %> <li><a href="/register">Register</a></li> <% } %>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <div class="profile">
                    <p>
                        PROFILE:
                    </p>
                    <p>
                        <span class="subHeading">
                            APARTMENT:
                        </span> <%= apartment %>
                    </p>
                    <p>
                        <span class="subHeading">
                            HOUSE:
                        </span> <%= doorNumber %>
                    </p>
                    <p>
                        <span class="subHeading">
                            NAME:
                        </span> <%= name %>
                    </p>
                    <p>
                        <span class="subHeading">
                            CONTACT:
                        </span> <%= contact %>
                    </p>                   
                </div>
            </aside>
            <section>
                <div class="currentMonth">
                    <p>
                        Today: <span id="date_now"></span>
                        | Filter: <input type="text" name="year" id="year" onchange="yearChangeListener()" required>
                        <select id="month" name="month" onchange="monthChangeListener()" required>
                            <option value="" selected disabled hidden>Select Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <!-- <input type="button" value="Filter" onclick="filterData()"> -->
                    </p>
                </div>
                <div>
                    Total Amount Payable: <span id="total_amount"></span>
                </div>
                <div class="expenditureTable">
                    <table>
                        <caption>
                            Expenditure Table
                        </caption>
                        <tr>
                            <th>#</th>
                            <th>Expense type</th>
                            <th>Date Paid</th>
                            <th>Paid By</th>
                            <th>Total Amount</th>                            
                            <th>Individual Amount</th>
                            <th>Contact for Payment</th> 
                            <th>Description</th>
                        </tr>
                        <tbody id="expenditure_tbody"></tbody>
                    </table>
                </div>
                <div class="waterTable">
                    <table>
                        <caption>
                            Water Table
                        </caption>
                        <tr>
                            <th>#</th>
                            <th>Date Paid</th>
                            <th>Paid By</th>
                            <th>Total Water Quantity</th>
                            <th>Total Amount</th>                                                        
                            <th>Your Water Reading</th>
                            <th>Your Individual Amount</th>
                            <th>Contact for Payment</th>
                            <th>Description</th>
                        </tr>
                        <tbody id="water_tbody"></tbody>
                    </table>
                </div>
            </section>
        </main>
        <footer>
            &copy; AMPlify, by Team 2.
        </footer>
    </div>
</body>
</html>