<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure</title>
    <link rel="stylesheet" href="expenditureStyle.css">
    <script>
        var today = new Date();
        var datestring = today.getDate()  + "/" + (today.getMonth()+1) + "/" + today.getFullYear();

        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost:3000/expenses";
        var apartment = `<%= apartment %>`
        var id = `<%= id %>`
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var expenses = JSON.parse(this.responseText);
                populateTable(expenses);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.setRequestHeader('apartment', apartment)
        xmlhttp.send();

        function populateTable(expenses) {
            var expense_out = ""; 
            var e_count = 1;      
            var water_out = "";     
            var w_count = 1;
            for (var i = 0; i < expenses.length; i++) {
                if(expenses[i].type != 'waterBookings') {
                    expense_out += "<tr>";
                    expense_out += '<td>' + e_count++ + '</td>';
                    expense_out += '<td>' + expenses[i].type + '</td>';
                    expense_out += '<td>' + expenses[i].date + '</td>';
                    if(expenses[i].type == 'corpusFunds') {
                        expense_out += '<td> N.A. </td>';
                    } else {
                        expense_out += '<td>' + expenses[i].paidBy + '</td>';
                    }
                    expense_out += '<td>' + expenses[i].amount + '</td>';                
                    expense_out += '<td>' + expenses[i].individualAmt + '</td>';
                    expense_out += '<td>' + expenses[i].description + '</td>';
                    expense_out += "</tr>";
                } else {
                    water_out += "<tr>";
                    water_out += '<td>' + w_count++ + '</td>';
                    water_out += '<td>' + expenses[i].date + '</td>';
                    water_out += '<td>' + expenses[i].paidBy + '</td>';
                    water_out += '<td>' + expenses[i].waterQty + '</td>';
                    water_out += '<td>' + expenses[i].amount + '</td>';                    
                    if(expenses[i].readings && expenses[i].readings[id]) {
                        water_out += '<td>' + expenses[i].readings[id].reading + '</td>';
                        water_out += '<td>' + expenses[i].readings[id].amount + '</td>';
                    } else {
                        water_out += '<td> Water Reading Not Completed </td>';
                        water_out += '<td> Water Reading Not Completed </td>';
                    }                    
                    water_out += '<td>' + expenses[i].description + '</td>';
                    water_out += "</tr>"
                }            
            }            
            
            document.getElementById("expenditure_tbody").innerHTML = expense_out;       
            document.getElementById("water_tbody").innerHTML = water_out;
            document.getElementById("date_now").innerHTML = datestring;
        }        
    </script>
</head>
<body>
    <div class="mainGrid">
        <header>
            <div class="logo">
                <a href="/">AMPLify.</a>
            </div>
            <nav>
                <ul>
                    <% if(admin){ %> <li><a href="/new_expense">Expenses</a></li> <% } %>
                    <li><a href="/expenditure">Expenditure</a></li>
                    <% if(admin){ %> <li><a href="/register">Register</a></li> <% } %>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <div class="profile">
                    <p>
                        PROFILE:
                    </p>
                    <p>
                        <span class="subHeading">
                            APARTMENT:
                        </span> <%= apartment %>
                    </p>
                    <p>
                        <span class="subHeading">
                            HOUSE:
                        </span> <%= doorNumber %>
                    </p>
                    <p>
                        <span class="subHeading">
                            NAME:
                        </span> <%= name %>
                    </p>                   
                </div>
                <div class="helplines">
                    <p>
                        HELPLINES:
                    </p>
                    <p>
                        Line1: 1212 1212
                    </p>
                    <p>
                        Line2: 3434 3434
                    </p>
                    <p>
                        Line3: 5656 5656
                    </p>
                </div>
            </aside>
            <section>
                <div class="currentMonth">
                    <p>
                        Date: <span id="date_now"></span>
                    </p>
                </div>
                <div class="expenditureTable">
                    <table>
                        <caption>
                            Expenditure Table
                        </caption>
                        <tr>
                            <th>#</th>
                            <th>Expense type</th>
                            <th>Date Paid</th>
                            <th>Paid By</th>
                            <th>Total Amount</th>                            
                            <th>Individual Amount</th>
                            <th>Description</th>
                        </tr>
                        <tbody id="expenditure_tbody"></tbody>
                    </table>
                </div>
                <div class="waterTable">
                    <table>
                        <caption>
                            Water Table
                        </caption>
                        <tr>
                            <th>#</th>
                            <th>Date Paid</th>
                            <th>Paid By</th>
                            <th>Total Water Quantity</th>
                            <th>Total Amount</th>                                                        
                            <th>Your Water Reading</th>
                            <th>Your Individual Amount</th>
                            <th>Description</th>
                        </tr>
                        <tbody id="water_tbody"></tbody>
                    </table>
                </div>
            </section>
        </main>
        <footer>
            &copy; AMPlify, by Team 2.
        </footer>
    </div>
</body>
</html>