<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="expenditureStyle.css">
    <script>
        
        function fetchUsers() {
            var xmlhttp = new XMLHttpRequest();
            var url = "http://localhost:3000/users";
            var apartment = `<%= apartment %>`
            var secret = `<%= secret %>`
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var residents = JSON.parse(this.responseText);
                    populateInputs(residents);
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader('apartment', apartment)
            xmlhttp.setRequestHeader('Authorization', secret)
            xmlhttp.send();
        }

        function fetchWaterBookings() {
            var xmlhttp = new XMLHttpRequest();
            var url = "http://localhost:3000/bookings";
            var apartment = `<%= apartment %>`
            var secret = `<%= secret %>`
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var bookings = JSON.parse(this.responseText);
                    if(bookings.length > 0) {
                        populateDropdown(bookings);
                    } else {
                        document.getElementById("water_reading_form").hidden = true;
                        document.getElementById("message").innerHTML = "No Active Water Bookings found for your apartment";
                    } 
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader('apartment', apartment)
            xmlhttp.setRequestHeader('Authorization',secret)
            xmlhttp.send();
        }

        function populateDropdown(bookings) {
            var out = '<option value="" selected disabled hidden>-- select water booking --</option>';
            var i;
            for (i = 0; i < bookings.length; i++) {
                optionText = "water booking done by " + bookings[i].paidBy + " on " + bookings[i].date;
                out += '<option value="' + bookings[i].id + '">' + optionText + '</option>';
            }
            document.getElementById("booking").innerHTML = out;
            document.getElementById("bookings").value = JSON.stringify(bookings);            
        }
        
        function populateInputs(residents) {
            var out = "";            
            var i;
            for (i = 0; i < residents.length; i++) {
                out += '<input type="text" name="' + residents[i].id + '" placeholder="water reading for ' + residents[i].name + '" required>';
            }            
            document.getElementById("reading_inputs").innerHTML = out;
            document.getElementById("residents").value = JSON.stringify(residents);
        }
        
        function bookingChangeListener() {
            id = document.getElementById("booking").value;
            var bookings = JSON.parse(document.getElementById("bookings").value);
            var i;
            for (i = 0; i < bookings.length; i++) {
                if (bookings[i].id == id) {
                    document.getElementById("total_amount_paid").hidden = false;
                    document.getElementById("total_amount_paid").innerHTML = "Total Amount Paid: " + bookings[i].totalAmt;
                    document.getElementById("total_water_quantity").hidden = false;
                    document.getElementById("total_water_quantity").innerHTML = "Total Water Quantity: " + bookings[i].waterQty;
                    break;
                }
            }
        }

        fetchUsers();
        fetchWaterBookings();

    </script>
</head>
<body>
    <div class="mainGrid">
        <header>
            <div class="logo">
                <a href="/">AMPLify.</a>
            </div>
            <nav>
                <ul>
                    <% if(admin){ %> <li><a href="/new_expense">Expenses</a></li> <% } %>
                    <li><a href="/">Expenditure</a></li>
                    <% if(admin){ %> <li><a href="/register">Register</a></li> <% } %>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside>
                <div class="profile">
                    <p>
                        PROFILE:
                    </p>
                    <p>
                        <span class="subHeading">
                            APARTMENT:
                        </span> <%= apartment %>
                    </p>
                    <p>
                        <span class="subHeading">
                            HOUSE:
                        </span> <%= doorNumber %>
                    </p>
                    <p>
                        <span class="subHeading">
                            NAME:
                        </span> <%= name %>
                    </p>
                    <p>
                        <span class="subHeading">
                            CONTACT:
                        </span> <%= contact %>
                    </p>                   
                </div>
            </aside>
            <section>
                <div class="expensesForm">
                    <div id="message"></div>
                    <form id="water_reading_form" method="POST">
                        <div class="selectField">
                            <select id="booking" name="booking" onchange="bookingChangeListener()" required></select>
                        </div>
                        <div id="total_amount_paid" hidden></div>                        
                        <div id="total_water_quantity" hidden></div>                        
                        <div id="reading_inputs"></div>
                        <input name="residents" id="residents" hidden>
                        <input name="bookings" id="bookings" hidden>
                        <div class="submitField">
                            <input type="submit" value="Update">
                        </div>
                    </form>
                    <% if ( messages.info ) { %>
                        <p>
                            <%= messages.info %>
                        </p>
                    <% } %>
                </div>
            </section>
        </main>
        <footer>
            &copy; AMPlify, by Team 2.
        </footer>
    </div>
</body>
</html>
